<div class="modal fase" id='Modal' data-backdrop="static" style="background: rgba(0, 0, 0, 0.48);">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h5 class="modal-title"></h5>
    </div>
    <div class="modal-body">
    </div>
  </div>
</div>
